<!DOCTYPE html>
<html lang="en">
	<head>
        {{ block "title" . }}<title>Some Title</title>{{ end }}
        {{ template "head" . }}
	</head>
	<body>
	    <div id="wrapper">

		    {{ template "navigation" . }}

	        <!-- Page Content -->
	        <div id="page-wrapper">

		        {{ template "content" . }}

	        </div>
	        <!-- /#page-wrapper -->

	    </div>
	    <!-- /#wrapper -->

	    {{ template "bottom-scripts" . }}

	    {{ block "page-scripts" . }}{{ end }}
	</body>
</html>